* {
  margin:0px;
  padding:0px;
}


body {
  font-family:arial,helvetica;
  background-color:black;
}


header {
  background-color:#66d3fa;
  text-align:center;
  color:white;
  padding:10px;
}


.title {
  font-size:26px;
}
.container{
  max-width:1000px;
  margin:auto;
  
}
.formContainer{
  max-width:230px;
  background-color:#ffffffbb;
  padding:20px;
  float:right;
}
h2 {
  font-size:16px;
}
.mb{
  margin-bottom:15px;
}
input, select {
  width:100%;
  box-sizing:border-box;
  padding:10px;
  border:none;
  margin-bottom:10px;
}
input[type="submit"]{
  color:white;
  background-color:#66d3fa;
  font-weight:bold;
}
section {
  padding:20px;
  background-image:url('imagens/palestra.jpeg');
  background-size:contain;
  overflow:hidden;
}
select {
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background-image:url('imagens/arrow.jpg');
  background-repeat:no-repeat;
  background-position-x:calc(100% - 10px);
  background-position-y:center;
}
.picture {
  width:160px;
  
  
}
.description {
  color:white;
  display:inline-block;
  max-width:40%;
  margin-left:40px;
  text-align:left;
  
}
.description p, .description h3{
  margin-bottom:20px;
  
}
.footer {
  background-color:#212121;
  padding:40px;
  text-align:center;
  
}

